html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif
}

w3-quarter.img{
    max-width:100%;
    max-width: 150px;
    max-height: 150px;
    display:block;
    height:auto;
    object-fit: contain;
}

w3-container{
    display:block;
    height:auto;
    object-fit: contain;
    image-rendering: auto;

}

