html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif
}

w3-quarter.img{
    max-width:100%;
    max-width: 150px;
    
    max-height: 150px;
    height:auto;
}

html,body {
    height:100%;
}
div {
    position: relative;

}


.bgimg {
    background-image: url('./assets/uofa2.png');
    min-height: 65%;
    max-height: 20px;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
}

div{ 
    display:block

}
